.app {
  margin-top: 50px;
}

.menu__item {
  display: block;
  height: 25px;
  border-bottom: 1px solid white;
}

.menu__item a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: arial;
  padding-top: 6px;
}

.menu__item--aboutmenu--hidden {
  display: none;
}

.menu__item--aboutmenu {
  background-color: orange;
}

.menu {
  background-color: blue;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

/*remove indent from unordered list items*/
.menu,.menu__item {
  list-style: none;
  list-style-type: inside;
  padding: 0;
}
